body {
  background-color: ##F18E90;
  color: #B1AAAA;
  margin : 0;
  font-family: 'Helvetica', sans-serif;
  align-content: center;
}

section {
  max-width: 45em;
  margin : 0 auto;
  padding-top: 100px;

}
 header {
   background-color: #F18E90;
   color : #ffffff;
   padding : 2em;
   position: relative;
   font-family: 'Helvetica';

 }

 header::after {
   content: " ";
   display: block;
   width: 200px;
   height: 200px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%)translateY(-50%)rotate(45deg);
   background-color: #F18E90;

 }

.nastyadvert {
  background-image: url(bordeaux1.jpg);
  min-height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Helvetica'

}

.nastyadvert h1 {
  font-family: 'Helvetica', cursive;
  color: pink;
  text-align: center;

 }

.nastyadvert p {
  font-size: 2em;
  font-family: "Helvetica";
  text-align: center;
}

.nastyadvert .container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)translateX(50%);

  }

.mywork ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 2em;

  }

  .mywork li {
    border: 0px solid;
    max-width: 20%;
    margin: 2em;
  }

  .mywork img{
    width: 100%;
  }

footer {
  background-color: #F18E90;
  color : #ffffff;
  padding : 2em;
  font-family: cursive;


}

.linklist {
  list-style-type: none;

}

.linklist li {
  margin: 2em;
}

.linklist a {
  color : #fff;
}
